@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
body{
    font-family: "poppins";
    margin: 0;
    padding: 0;
    background-color: black;
}

main{
    background-image: url('images/kuva (5).jpg');
}

/* !!!!!!!!!!!!!   NAV START !!!!!!!!!!!!! */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 0, 0);
    padding: 10px 20px;
    color: white;
}

.navbar .logo{
    display: flex;
    align-items: center;
}

.navbar .logo img{
    width: 200px;
    height: auto;
}

.navbar .links {
    display: flex;
    gap: 15px;
}

a {
    color: white;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 4px;
}

a:hover{
    background-color: #1c1c1c;
}

.links a.active{
    color: #ffcc00; 
}

.hamburger{
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger div{
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
}

@media (max-width: 768px){
.navbar .links {
    display: none;
    flex-direction: column;
    background-color: #333;
    position: absolute;
    top: 50px;
    right: 20px;
    width: 150px;
    border-radius: 4px;
}

.navbar .links.active{
    display: flex;
}

.hamburger{
    display: flex;
    }
}

/* !!!!!!!!!!!!!  FOOTER START !!!!!!!!!!!!! */
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 10px;
}

/* !!!!!!!!!!!!!   INDEX MAIN START !!!!!!!!!!!!! */
@media (max-width: 768px){
    .index-banner {
        flex-direction: column;
        text-align: center;
    }

.index-banner img{
    max-width: 100%;
}
}
.index-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-align: center;
    padding: 20px;
}

.index-banner{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
    flex-wrap: wrap;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.index-banner img{
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 10px;
}

.index-banner .text-content{
    max-width: 500px;
    padding: 10px;
}
.index-banner .text-content h1{
    font-size: 50px;
    margin-bottom: 10px;
    color: #ffcc00;
    text-align: center;
    text-shadow: 1px 1px 1px #000; /* Use text-shadow for outline effect */
}
.index-banner .text-content h3{
    font-weight: bold;
    line-height: 30px;
    color: white;
    text-shadow: 1px 1px 1px #000;
}

.index-banner .text-content span{
    color: yellow;
}
.index-banner .text-content a{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: red;
}
.index-banner .text-content a:hover{
    color: #ffcc00;
}

/* !!!!!!!!!!!!!  ABOUT US  !!!!!!!!!!!!! */
.about-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    color: white;
}

.about-image {
    width: 50%;
    max-width: 400px;
    height: auto;
    border-radius: 8px;
}

.about-text {
    width: 50%;
    text-align: left;
}

.about-text h2 {
    font-size: 48px;
    margin-bottom: 10px;
    color: #ffcc00;
}

.about-text p {
    font-size: 1em;
    line-height: 1.6;
}

@media (max-width: 900px) {
    .about-section {
        flex-direction: column;
        text-align: center;
    }
    .about-text, .about-image {
        width: 100%;
        max-width: 100%;
    }
    .about-text {
        order: 1;
        text-align: center;
    }
    .about-image {
        order: 2;
        margin-top: 20px;
    }
}

/* !!!!!!!!!!!!!  COUNTER SECTION  !!!!!!!!!!!!! */
.counter-section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
    padding: 20px;
    color: white;
}

.counter {
    flex: 1;
    max-width: 200px;
    padding: 10px;
    border-radius: 8px;
    background-color: rgb(9, 9, 9);
}

.counter h3 {
    font-size: 2.5em;
    margin: 0;
    color: #ffcc00;
}

.counter p {
    font-size: 1em;
    margin: 5px 0 0;
    color: #ddd;
}

/* !!!!!!!!!!!!!   PARTNERS SECTION START !!!!!!!!!!!!! */
.partners-section {
    text-align: center;
    padding: 20px;
    color: white;
    background-color: #000000;
}

.partners-section h1 {
    font-size: 50px;
    margin-bottom: 20px;
    color: #ffcc00;
}

.partners-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.partner-card {
    background-color: #171717;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    text-align: left;
}

.partner-card h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #ffcc00;
    text-align: justify;
}

.partner-card p {
    font-size: 1em;
    margin-bottom: 15px;
    color: #ddd;
    text-align: justify;
}

.partner-card a {
    display: inline-block;
    padding: 10px 15px;
    background-color: #ffcc00;
    color: #222;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.partner-card a:hover {
    background-color: #222;
    color: #ffcc00;
}

.partner-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
    margin-bottom: 15px;
}

/* !!!!!!!!!!!!!   GALLERY START !!!!!!!!!!!!! */
.image-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 20px;
}

.image-grid img {
    width: 80%;
    height: auto;
    border-radius: 8px;
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    margin: auto;
    display: block;
    max-width: 80%;
    max-height: 80%;
}

#caption {
    margin: 15px auto;
    text-align: center;
    color: #ffcc00;
    font-size: 1.2em;
}

.close {
    position: absolute;
    top: 20px;
    right: 35px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    text-decoration: none;
    cursor: pointer;
}

/* !!!!!!!!!!!!!   CONTACT SECTION START !!!!!!!!!!!!! */
.contact-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-banner {
    width: 100%;
    min-height: 70%;
}

.contact-banner img {
    width: 100%;
    min-height: 500px;
    object-fit: cover;
}

.contact-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

.contact-content h1 {
    font-size: 50px;
    color: #ffcc00;
    text-shadow: 1px 1px 1px #000;
}

.contact-content h3 {
    font-size: 24px;
    text-shadow: 1px 1px 1px #000;
}

.contact-content a {
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
    margin-top: 70px;
    padding: 10px 20px;
    color: #ffcc00;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    text-shadow: 1px 1px 1px #000;
}

@media (max-width: 900px) {
    .contact-content h1,
    .contact-content h3 {
        display: none;
    }
}
